#logo {
    float: left;
}
#logo img {
    float: left;
  }
  nav ul {
    float: right;
  }
  
nav li {
    float: left;
}
.date {
    float: left;
  }
  .recipe li {
    float: left;
  }
  .print {   
    float: right;
  }
  aside img {
    float: left;
  }
  aside button {
    float: right;
  }